# Python temporary files
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# API keys / secrets
.env

# Log files
*.log
!part2_python/pipeline.log
!part2_python/cli_app/traffic_cli.log

# Windows files
Thumbs.db
